body {
  font-family: helvetica;
  margin: 25px auto;
  line-height: 1.4em;
}

.container-fluid {
  padding: 0 50px !important;
}

section {
  margin: 25px 0;
}

img {
  max-width: 100%;
}

p {
  margin: 10px 0;
}

h1 {
  color: green;
  margin: 0 !important;
  padding: 30px;
  text-align: center;
}

h2 {
  margin: 25px 0;
}

h3 {
  display: inline;
}

nav {
  margin: 5px 0 25px 0;
  text-align: center;
}

nav a {
  display: inline-block;
  margin-right: 5px;
}
